{% extends "business_base.html" %}
{% block app_content %}
<div class="container">
	<div class="card border-0 shadow my-5">
		<div class="card-body p-15">
			<h1>
				<p class="text-info">Add Screening</p>
			</h1>
			<hr />
			<p></p>
			<div class="input-group mb-3">
				<form method="POST">
					{{ form.csrf_token }}
					<h5>{{form.time.label}}</h5> {{form.time(class='timepicker')}}{{form.hidden_tag()}}<br><br>
					<h5>{{form.date.label}}</h5> {{form.date(class='datepicker')}} {{form.hidden_tag()}}<br><br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}