{% extends "business_base.html" %}
{% block app_content %}
<div class="container">
	<div class="card border-0 shadow my-5 text-center">
		<div class="card-body">
			<h1>
				<p class="text-info">Add Movie</p>
			</h1>
			<hr />
			<div class="form-outline col-lg-offset-4">
				<form method="POST">
					{{form.hidden_tag()}}
					{{ form.csrf_token }}
					{{form.name(class="form-control", style="width:100%;", placeholder="Name")}}<br>
					{{form.blurb(class="form-control", style="width:100%;", placeholder="Blurb")}}<br>
					{{form.certificate(class="form-control", style="width:100%;", placeholder="Certificate")}}<br>
					{{form.actors(class="form-control", style="width:100%;", placeholder="Actors")}}<br>
					{{form.price(class="form-control", style="width:100%;", placeholder="Price")}}<br>
					{{form.image_path(class="form-control", style="width:100%;", placeholder="Image path")}}<br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>





{% endblock %}