<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<title>{% if title %}{{ title }} - Arena Cinema{% else %}Welcome to Arena Cinema{% endif %}</title>
<link rel="shortcut icon" href="../static/favicon.ico">

<body>
	<nav class="navbar navbar-expand-lg text-white bg-dark">
		<a class="navbar-brand" style="color: white;" href={{url_for("users.display_movies")}}>Arena Cinema</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" style="color: white;" href={{url_for("users.display_movies")}}>What's on<span
							class="sr-only">(current)</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_anonymous %}
				<li><a style="color: white;" href={{url_for("users.register")}}>Register</a></li>
				<li style="padding-left: 15px;"><a style="color: white;" href={{url_for("users.login")}}>Login</a></li>
				{% else %}
				<li><b>Hello, {{current_user.username}}!</b></li>
				<li style="padding-left: 15px;"><a style="color: white;" href={{url_for("users.logout")}}>Logout</a></li>
				{% endif %}
			</ul>
		</div>
	</nav><br>
	{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
			<span>{{ message }}</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>