{% extends "business_base.html" %}
{% block app_content %}
<div class="card border-0 shadow my-5 text-center"
	style="width: 40%; margin: 0 auto; float: none; margin-bottom: 10px;">
	<h5 class="card-header">Pick a seat</h5>
	<div class="container">
		<div class="card-body" style="align-content: center;">
			<div class="card">
				<div class="card-header">
					Movie Details
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class=" list-group-item"><b>{{screen.movies.name}}</b></li>
					<li class="list-group-item text-center">{{screen.movies.actors}}</li>
					<li class="list-group-item text-center">Certification: {{screen.movies.certificate}}</li>
					<li class="list-group-item text-center">Date: {{screen.date.strftime('%d-%m-%Y')}}
					</li>
					<li class="list-group-item text-center">Time: {{screen.time.strftime('%H:%M')}}</li>
				</ul>
			</div>
			<br>
			<div class="alert alert-dark" role="alert">
				Note: VIP seats are an additional £2 </div>
			<label for="available seats">Available Seats: &nbsp;</label>
			<select class="custom-select col-4 text-center" id="Available seats">
				{% for seat in avail_seats%}
				<option value="{{seat}}">{{seat}}</option>
				{% endfor %}
			</select>
			<hr />
			<form style="padding-bottom: 15px;" method="POST">
				<div class="input-group">
					<div class="form-outline col-sm-10">
						{{ form.csrf_token }}
						{{ form.seat(class='form-control',
						placeholder='Seat', form_type="inline", style="width:100%") }}
					</div>
					<button type="submit col-sm-2" class="btn btn-primary" style="width: 12%;">
						<i class="bi bi-arrow-right"></i></button>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}