{% extends "business_base.html" %}
{% block app_content %}
<div class="container text-center">
	<div class="card bg-dark text-white mb-3">
		<div class="card-header">
			<h1>Buy Ticket for: {{movie.name}}</h1>
			<h5>Playing on: {{screening.date.strftime('%d/%m/%Y')}}, at {{screening.time.strftime('%H:%M')}}</h5>
		</div>
		<div class="card-body">
			<form method="POST">
				{{form.hidden_tag()}}
				{{ form.csrf_token }}
				<div class="form-group">
					{{form.first_name(class = "form-control", placeholder="First name")}}
				</div>
				<div class="form-group">
					{{form.last_name(class = "form-control", placeholder="Last name")}}
				</div>
				<div class="form-group">
					{{form.email(class = "form-control", placeholder="Email")}}
				</div>
				<div class="form-group">
					{{form.age(class = "form-control", placeholder=" Enter Age")}}
				</div>
				<div class="alert alert-primary" role="alert">
					Price: <b>{{price | currency_format}}</b> {% if is_vip %} (VIP) {% endif %}
				</div>
				<div class="alert alert-dark" role="alert">
					Note: 10% discount for People over 64 years </div>
				<div class="form-group">
					{{form.submit(class="btn btn-primary")}}
				</div>
				<div class="form-check">
					<div>
						{{form.pay_by_card(class="form-check-input")}} {{form.pay_by_card.label}}?
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}