{% extends "base.html" %}
{% block app_content %}
<div class="container">
	<div class="card border-0 shadow my-5">
		<div class="card-body p-15">
			<h1>
				<p class="text-info">Card Payment</p>
			</h1>
			<hr />
			<form method="POST">
				{{form.hidden_tag()}}
				{{ form.csrf_token }}
				{{form.name(class="form-control", placeholder="Name")}}<br>
				{{form.card_number(class="form-control", placeholder="Card number")}}<br>
				{{form.expiration(class="form-control", placeholder="Expiration date")}}<br>
				{{form.security_code(class="form-control", placeholder="Security code")}}<br><br>
				{{form.address(class="form-control", placeholder="Address")}}<br>
				{{form.town_city(class="form-control", placeholder="Town/City")}}<br>
				{{form.postcode(class="form-control", placeholder="Postcode")}}<br>
				{{form.country(class="form-control", placeholder="Country")}}<br>
				<button type="submit" class="btn btn-primary">Submit</button>
				<hr />
				{% if (current_user.is_authenticated and not current_user.is_staff == 1) %}
				{{ form.remember_me }} Remember Me
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock %}