{% extends "business_base.html" %}
{% block app_content %}
<div class="container">
	<div class="card border-0 shadow my-5">
		<div class="card-body p-15">
			<h1>
				<p class="text-info">Cash Payment</p>
			</h1>
			<hr />
			<p></p>
			<div class="input-group mb-3">
				<form method="POST">
					{{ form.csrf_token }}
					{{form.hidden_tag()}}
					{{form.amount_paid(class="form-control", placeholder="Amount Paid")}}<br>
					<div class="alert alert-primary" role="alert">
						Price: <b>{{price | currency_format}}</b> {% if is_vip %} (VIP) {% endif %}
					</div>
					<hr />
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}