{% extends "business_base.html" %}
{% block app_content %}
<div class="container text-center">
	<div class="card text-center">
		<div class="card-header">
			<h2>Weekly sales summary</h2>
		</div>
		<div class="card-body">
			<img src='../static/sales.png?dummy={{ current_datetime_string }}' class="img-fluid">
		</div>
		<div class="card-footer text-muted">
			Last updated: {{current_datetime.strftime('%d-%m-%Y %H:%M:%S')}}
		</div>
	</div>
</div>
{% endblock %}