{% extends "business_base.html" %}
{% block app_content %}
<div class="container text-center">
	<div class="card text-center">
		<div class="card-header">
			<h2>Weekly income summary</h2>
		</div>
		<div class="card-body">
			<h5 class="card-title">Total income in the past week</h5>
			<p class="card-text"><b>{{total_income | currency_format}}</b></p>
			<h5 class="card-title">Income per movie</h5>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Past week earnings</th>
					</tr>
				</thead>
				<tbody>
					{% for sale in per_movie_sales %}
					<tr>
						<th scope="row">{{sale}}</th>
						<td>{{per_movie_sales[sale] | currency_format}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<img src='../static/weekly_income.png?dummy={{ current_datetime_string }}' class="img-fluid">
		</div>
		<div class="card-footer text-muted">
			Last updated: {{current_datetime.strftime('%d-%m-%Y %H:%M:%S')}}
		</div>
	</div>
</div>
{% endblock %}