{% extends "base.html" %}
{% block app_content %}
<div class="container">
	<div class="jumbotron" style="padding-bottom: 20px; padding-top: 20px;">
		<h1 style="font-weight: 400;" class="display-4 text-center">Arena Cinema</h1>
		<p class="lead text-center" style="font-weight: 400;">Albion Street, Leeds</p>
		<hr class="my-4">
		<p class="lead text-center" style="font-weight: 450;">Watch the latest films in the centre of town</p>
	</div>
	<form style="padding-bottom: 15px;" method="POST">
		<div class="input-group">
			<div class="form-outline col-sm-11">
				{{ form.csrf_token }}
				{{ form.search(class='form-control',
				placeholder='Search', form_type="inline", style="width:100%") }}
			</div>
			<button type="submit" class="btn btn-primary" style="width: 7%;">
				<i class="bi bi-search"></i></button>
			</button>
		</div>
	</form>

	{% for movie in list_movies %}

	<div class="card text-white bg-dark mb-3">
		<div class="card-header">
			<h1 style="font-size:60px">{{movie.name}}</h1>
		</div>
		<div class="card-body">
			<img class="col-4" src="{{ url_for('static' , filename = movie.image_path) }}"
				style="max-width:auto; max-height:50%; float:right">
			<ul class="list-group list-group-flush col-8">
				<li class="list-group-item" style="background:#343a40;">
					<p style="font-size:28px">{{movie.blurb}}</p>
				</li>
				<li class="list-group-item" style="background:#343a40;">
					<p style="font-size:24px">{{movie.actors}}</p>
				</li>
				<li class="list-group-item" style="background:#343a40;">
					<h5>Certificate: {{movie.certificate}}</h5>
				</li>
				<li class="list-group-item" style="background:#343a40;">
					<h5>Price: {{movie.price_as_pence | currency_format}}</h5>
				</li>
				<br>
				<div class="row">
					{% for screenings in list_screenings %}
					{% if screenings.screened_movie.id == movie.id %}
					<div class="card text-white bg-secondary text-center" style="background:#343a40;margin: 10px;">
						<div class="card-body">
							<h5>Time: {{screenings.time.strftime('%H:%M')}}</h5>
							<h5>Date: {{screenings.date.strftime('%d-%m-%Y')}}</h5>
							<a href="./seats_for_screening/{{screenings.id}}"><button type="button"
									class="btn btn-success btn-sm">Book
									now</button></a>
						</div>
					</div>
					<br>
					{% endif %}
					{% endfor %}
				</div>
			</ul>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}