{% extends 'base.html' %}
{% block app_content %}

<body>
	<h1 class="text-center">Register to Arena Cinema</h1>
	<div class="container-fluid h-100">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-5">
				<form method="POST">
					{{ form.csrf_token }}
					<div class="form-group">
						{{form.email(class="form-control", style="width:100%;", placeholder="Email")}}
					</div>
					<div class="form-group">
						{{form.username(class="form-control", style="width:100%;", placeholder="Username")}}
					</div>
					<div class="form-group">
						{{form.password(class="form-control", style="width:100%;", placeholder="Password")}}
					</div>
					<div class="form-group">
						{{form.confirm_password(class="form-control", style="width:100%;", placeholder="Confirm password")}}
					</div>
					<div class="form-group">
						{{form.submit(class="btn btn-primary", style="width:100%")}}
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
{% endblock %}